:$PORT
root * /usr/share/caddy
file_server

header {
    X-Robots-Tag none
    X-Content-Type-Options nosniff
    X-Frame-Options DENY
    Referrer-Policy no-referrer-when-downgrade
}

@websocket_ss {
header Connection *Upgrade*
header Upgrade    websocket
path $SSPATH
}
reverse_proxy @websocket_ss 127.0.0.1:1234


@websocket_gost {
header Connection *Upgrade*
header Upgrade    websocket
path $GOSTPATH
}
reverse_proxy @websocket_gost 127.0.0.1:2234


@websocket_brook {
header Connection *Upgrade*
header Upgrade    websocket
path $BROOKPATH
}
reverse_proxy @websocket_brook 127.0.0.1:3234


@websocket_v2ray_vmess {
header Connection *Upgrade*
header Upgrade    websocket
path $VMESSPATH
}
reverse_proxy @websocket_v2ray_vmess 127.0.0.1:4234


@websocket_v2ray_vless {
header Connection *Upgrade*
header Upgrade    websocket
path $VLESSPATH
}
reverse_proxy @websocket_v2ray_vless 127.0.0.1:5234
